@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    } 
} 

// 1em = 16px ("rem" can not be related to the 10px defined in the font-size of html root element, therefore "em" are used instead)

@mixin respond($breakpoint) {
    @if $breakpoint == phone { 
        @media only screen and (max-width: 37.5em) { @content };    //600px / 16px = 37.5em
    }
    @if $breakpoint == tab-portrait {
        @media only screen and (max-width: 50em) { @content };     //800px
    }
    @if $breakpoint == tab-landscape {
        @media only screen and (max-width: 62.5em) { @content };    //1000px 
    }
    @if $breakpoint == laptop { 
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800px
    } 
} 