// COLORS

$color-primary: #373983;
$color-primary-light: #4548a6;
$color-primary-dark: #0e1e49;

$color-secondary: #8BD8BD;
$color-secondary-light: #a8e6d0;
$color-secondary-dark: #7de682;

$color-VF: #e60000; 
$color-DU: #00b0ca;  

$color-grey-light: #f7f7f7; 

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #444;
$color-grey-dark-4: #333;  

$color-gradient-blue: #243B55;
$color-gradient-grey: #141E30;

$color-blue-1: #45596f;

$color-white: #fff; 
$color-black: #000;
 
// GRID

$grid-width: 140rem; 
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;