.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 25rem; 

    &--bigger-height {
        height: 56rem; 
    }

    &__side {
        height: 100%;
        transition: all 0.8s ease;  
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%;
        backface-visibility: hidden; 
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);  

        &--front-1,
        &--front-2 {
            background-color: $color-white;
        }

        &--back-1 {
            background-image: linear-gradient(to right bottom, $color-gradient-grey, $color-gradient-blue);
            transform: rotateX(180deg);  
        } 

        &--back-2 {
            background-image: linear-gradient(to right bottom, $color-gradient-grey, $color-gradient-blue); 
            transform: rotateY(180deg); 
        }
    }

    &:hover &__side--front-1 {
        transform: rotateX(-180deg);
    }

    &:hover &__side--front-2 {
        transform: rotateY(-180deg); 
    }

    &:hover &__side--back-1,
    &:hover &__side--back-2 { 
        transform: rotateX(0); 
    } 

    &:hover &__side--back-3 { 
        transform: rotateX(0); 
    } 

    // FRONT SIDE STYLING

    &__image {
        background-size: cover;
        background-position: center;
        height: 100%;
        background-blend-mode: screen;
        border-radius: 3px;
        filter: brightness(75%); 

        &-1 {
            background-image: linear-gradient(
                to right bottom, 
                rgba($color-primary-light, 0.9), 
                rgba($color-primary-dark, 0.9)),  
                url("../img/education.jpg");        
        }

        &-2 {
            background-image: linear-gradient(
                to right bottom, 
                rgba($color-primary-light, 0.9), 
                rgba($color-primary-dark, 0.9)),  
                url("../img/training.jpg");   
        }

        &-3 {
            background-image: linear-gradient(
                to right bottom, 
                rgba($color-primary-light, 0.9), 
                rgba($color-primary-dark, 0.9)),  
                url("../img/experience.jpg");     
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;  
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__heading {
        font-size: 5rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.8rem;
        text-align: center;
        color: $color-white;

        &__span {
            display: block;
        }
    }

    &__logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: 10rem;  
    }

    &__logo {  
        transition: all 0.4s;

        &:hover {
            transform: scale(1.15);
        }

        &--smaller-width {
            width: 30rem;
        }
    }

    // BACK SIDE STYLING

    &__details {
        width: 100%;
        height: 100%;
        text-align: center; 
    }

    &__list {
        color: $color-grey-light;
        list-style: none;
        height: 100%; 
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column; 

        li {  
            display: block; 
            font-size: 1.4rem;
            text-decoration: none;
        }   
        
        &--bigger-card { 
            margin: 1rem 2rem 0 2rem;
            align-items: flex-start;    
            text-align: left;

            li:first-child {
                font-weight: 700; 
                font-size: 2.5rem;
            }
        }
    } 

    &__logo-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-left: 4rem;  
    }

    &__icon {
        margin-right: 0.8rem;
        font-size: 2.5rem;

        &--smaller {
            font-size: 1.4rem; 
        }
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            padding: 0 0.4rem;
            color: $color-grey-light;
            text-decoration: none;
            background-image: linear-gradient(
                140deg, 
                transparent 0%, 
                transparent 50%, 
                $color-blue-1 50%
            );
            background-size: 230%;
            transition: all 1s; 
        }  

        &--VF:link,
        &--VF:visited { 
            background-image: linear-gradient(
                140deg, 
                transparent 0%, 
                transparent 50%, 
                $color-VF 50%
            );
            font-weight: 700;
            color: $color-VF;
        }

        &--DU:link,
        &--DU:visited {
            background-image: linear-gradient(
                140deg, 
                transparent 0%, 
                transparent 50%, 
                $color-DU 50%
            );
            font-weight: 700;
            color: $color-DU;
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-grey-light;
            transform: scale(1.05); 
        }

        &__logo {
            margin-right: 0.5rem;
            transform: translateY(3px); 

            &--move-down {
                transform: translateY(8px);  
            }
        }
    }
}
