.feature-box {
    background-color: rgba($color-white, 0.8);  
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem; 
    border-radius: 1rem; 
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2); 
    color: $color-grey-dark-3;
    transition: transform 0.3s;   

    &__icon {
        margin-bottom: 1rem;
        transition: all 0.8s ease-in-out;  
    } 

    &__title {
        font-size: 2.5rem;
    } 

    &:hover {
        transform: scale(1.03); 

        .feature-box__icon {
            transform: rotateY(180deg) scale(1.15); 
        }
    }
}