.section-about {
    background-color: $color-grey-light; 

    @media only screen and (max-width: 56.25em) { // 900px
        margin-bottom: -5rem;
    }
} 

.section-skills {
    background-color: $color-white; 

    @include respond (tab-portrait) {
        margin-bottom: -6rem;
    }
}
 
.section-education-experience {
    background-color: $color-grey-light; 
} 

.section-projects {     
    position: relative;
    background-color: $color-white; 
    margin-bottom: -20vh; 
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);  
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%); 

    @include respond (tab-landscape) {
        margin-bottom: 7.5rem;
    }

    @media only screen and (max-width: 56.25em) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);  
        clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    }
}
